<template>
  <div>
    <b-input-group>
        <b-input type="text"
            :size="size"
            v-if="edit"
            v-model="valueLocal"
            @blur.native="update($event)"
            @keyup.enter.native="update($event)"
            v-focus=""/></b-input>
            <template v-slot:append v-if="loading">
                <b-input-group-text>
                    <b-spinner small label="Spinning"></b-spinner>
                </b-input-group-text>
            </template>     
    </b-input-group>
        <a href="#" v-if="!edit" @click="edit=true">
          {{value}}
        </a>
    </div>
</template>

<script>
  export default {
  name: "ClickToEdit",
  props: ['value', 'store', 'size'],

  data () {
  return {
      edit: false,
      loading: false,
      valueLocal: ''
    }
  },
  methods: {
      update (event) {
        if (event.target.value.trim().length > 0){
            this.loading=true
            setTimeout(function(){
                let x = {
                    value: this.valueLocal,
                    store: this.store
                }
                this.valueLocal = event.target.value; 
                this.edit = false; 
                this.loading = false
                this.$emit('input', x);                
            }.bind(this), 3000)
        }
        else {
            this.edit = false
            this.loading = false
        }

      }
      
  },
  directives: {
    focus: {
      inserted (el) {
        el.focus()
      }
    }
  }

}
</script>