<template>
  <div>
    <b-tabs>
      <b-tab title="Store Information">
        <b-card-group columns>
          <b-card 
              header="Store Relations" 
              no-body
              border-variant="primary"
              header-bg-variant="primary"
              header-text-variant="white">
            <b-list-group flush>
              <b-list-group-item href="#">District</b-list-group-item>
              <b-list-group-item href="#">Region</b-list-group-item>
              <b-list-group-item href="#">Division</b-list-group-item>
              <b-list-group-item href="#">Hub</b-list-group-item>
              <b-list-group-item href="#">DC</b-list-group-item>
            </b-list-group>
          </b-card>
          <b-card 
              header="Ping Utility"
              border-variant="primary"
              header-bg-variant="primary"
              header-text-variant="white">
            <b-row>
              <b-col>
                <b-btn href="#">.1</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.3</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.4</b-btn>
              </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-btn href="#">.5</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.10</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.14</b-btn>
              </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-btn href="#">.129</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.250</b-btn>
              </b-col>
              <b-col>
                <b-btn href="#">.254</b-btn>
              </b-col>
            </b-row>
            <b-row>
              <b-col center>
                <b-btn>Ping Again</b-btn>
              </b-col>
            </b-row>
            <b-row>
              <b-col center>
                <b-btn>Continous Ping</b-btn>
              </b-col>
              <b-col>
                0 of 30 pings
              </b-col>
            </b-row>
          </b-card>
          <b-card 
            header="Address"
            border-variant="primary"
            header-bg-variant="primary"
            header-text-variant="white">
            1701 North Blvd<br>Cedar Park, TX 91821
          </b-card>
          <b-card header="Store Hours"
            no-body
            border-variant="primary"
            header-bg-variant="primary"
            header-text-variant="white">
            <b-list-group flush>
              <b-list-group-item href="#">
              <Hours text="Week Days" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <Hours text="Saturday" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <Hours text="Sunday" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-row>
                  <b-col cols='6'>
                      Time Zone
                    </b-col>
                    <b-col class="text-right" cols='6'>
                      CST
                  </b-col>
                </b-row>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-row>
                  <b-col cols='6'>
                      Current Local Time 
                    </b-col>
                    <b-col class="text-right" cols='6'>
                      12:32:11 CST
                  </b-col>
                </b-row>        
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </b-card-group>
      </b-tab>
      <b-tab title="Comm History">
      </b-tab>
      <b-tab title="Ticket History">
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  name: "DCInfo",
  data: function() {
    return {
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
