<template>
  <b-row>
    <b-col cols='6'>
        {{text}}
      </b-col>
      <b-col class="text-right" cols='6'>
        {{start}}-{{end}}
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Hours",
  props: ['text', 'start', 'end']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
