<template>
  <div class="store-info-popup">
    <b-container>
      <b-row class="text-center red">
        <b-col>
         <h5>{{store.issue_type}}</h5>
        </b-col>
      </b-row>
      <b-row class="text-center blue">
        <b-col>
          <b-link href="#" @click="clicked"> Store {{store.store.number}}</b-link>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="8">
          Vendor: {{store.vendor}} - {{store.comm_type}}
        </b-col>
        <b-col cols="4">          
          <span v-if="store.ticket">
            Ticket: <a :href="ticket_url" target="_bank">{{store.ticket}}</a>
          </span>
          <ClickToEdit v-else size="sm" value="Ticket: Add" :store="store.store" @input="add_ticket"></ClickToEdit>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Address:
          <b-form-textarea readonly plaintext :value="store.store.full_address"></b-form-textarea>
        </b-col>
      </b-row>
      <b-row class="text-center">
        <b-col sm="12" md="4">
          Weekday <br>{{store.store.weekday_open}} - {{store.store.weekday_close}}
        </b-col>
        <b-col sm="12" md="4">
          Saturday <br>{{store.store.sat_open}} - {{store.store.sat_close}}
        </b-col>
        <b-col sm="12" md="4">
          Sunday <br>{{store.store.sun_open}} - {{store.store.sun_close}}
        </b-col>
      </b-row>      
      <b-row>
        <b-col sm="6" md="8">
          Current Time in Timezone:
        </b-col>
        <b-col sm="6" md="4" class="text-right">
          {{time}}
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6" md="4">
          Time Down:
        </b-col>
        <b-col sm="6" md="8" class="text-right">
            {{time_down}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-btn size="sm" variant="primary">Edit</b-btn>
        </b-col>
        <b-col>
          <b-btn href="#" @click="clicked" size="sm" variant="primary">More Info</b-btn>
        </b-col>
      </b-row>
      <b-row class="text-center">
        <b-col>
          <h5 class="green"> Store is currently: {{store.store.status}} </h5>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
require("moment-timezone")
// import moment from 'moment'
import moment from 'moment-timezone'
import ClickToEdit from './ClickToEdit.vue'

export default {
  name: "MapPopUp",
  components: {ClickToEdit},
  props: ['store'],
  data (){
      return {
          time_down: null,
          time: null,
      }
  },
  methods: {
    timedown (time) {
      let curdate = new Date()
      let now = moment(curdate.getUTCMilliseconds())
      let down_at = moment(time)
      let diff = down_at.diff(now)
      let duration = moment.duration(diff)
      let s = ''
      if (duration.days() >= 1){
          s+= duration.days() + ' days '
      }
      if (duration.hours() >= 1){
          s+= duration.hours() + ' hrs '
      }
      if (duration.minutes() >= 1){
          s+= duration.minutes() + ' min'
      }
      this.time_down = s
    },
    clicked () {
      this.$emit('clicked', this.store)
    },
    add_ticket (obj){
      this.$store.commit('UPDATE_TICKET', obj)
    },
    toTimeZone(time, zone) {
      var format = 'HH:mm:ss';
      return moment(time, format).tz(zone).format(format);
    },
    current_time () {
      let location = this.store.store.full_timezone
      let now = moment().toISOString()
      this.time = this.toTimeZone(now, location)
    }
  },
  computed: {
    ticket_url () {
      return "https://support-app.oreillyauto.com/MRcgi/MRlogin.pl?DL=" + this.store.ticket + "DA13"
    },
  },
  created(){
    // console.log('created')
    this.timedown(this.store.time_down)
    this.current_time()
    setInterval(function(){
        // console.log("interval run")
        this.timedown(this.store.time_down)
        if (this.time !== null){
          this.current_time()
        }
    }.bind(this), 1000 * 60)
    // console.log('ended')
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.store-info-popup .row {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  padding-top: 5px;
}
.store-info-popup {
  
  font-family: serif;
}
.green {
    background: green;
    color: white;
}
.red {
    background: #ef4d4d;
    color: #ffffff;
}

</style>