<template>
  <div id="map">
    <l-map :zoom="comp_zoom" :center="comp_center">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker :key="marker.key" :lat-lng="marker.latlng" v-for="marker in markers">
        <l-popup>
          <MapPopUp :store="marker" @clicked="store_clicked"></MapPopUp>
        </l-popup>
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup, LTooltip } from "vue2-leaflet";
import MapPopUp from "./MapPopUp.vue";
import { store } from 'vuex';

export default {
  name: "MyMap",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LTooltip,
    MapPopUp
  },
  data() {
    return {
      us_map: {
        center:latLng(37.850033, -95.6500523),
        zoom: 5
      },
      us_ask_ha_mex_map: {
        center:latLng(50.1166756, -112.7265166),
        zoom: 4
      },
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    };
  },
  methods: {
    store_clicked (store) {
      console.log("mymap clicked store:", store)
      this.$emit('store_clicked', store)
      return store
    }
  },
  computed: {
    markers () {
      return this.$store.state.markers
    },
    alaska_or_hawaii () {
      return this.markers.filter(function(store){ return (store.state == 'AK' || store.state == 'HA')})
    },
    comp_zoom () {
      if (this.alaska_or_hawaii.length > 0){ return this.us_ask_ha_mex_map.zoom}
      return this.us_map.zoom
    },
    comp_center () {
      if (this.alaska_or_hawaii.length > 0){ return this.us_ask_ha_mex_map.center}
      return this.us_map.center
    }
  },
  created () {
    console.log("Map Ready")
  }
};
</script>