<template>
  <b-row>
    <b-col cols='9'>
        {{text}}
      </b-col>
      <b-col cols='3'>
        <b-badge variant="secondary" class="right">{{number}}</b-badge>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "NavBadge",
  props: ['text', 'number']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
