<template>
  <b-row class="ml-1">
    <b-col cols='2'>
      <b-form-checkbox value="true"></b-form-checkbox>
    </b-col>
    <b-col cols='6'>
      {{text}}
    </b-col>
    <b-col cols='2'>
      <i v-b-popover.hover.top="description" class="fa fa-list-alt" @click="clicked"></i>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "NavMultiItem",
  props: ['text', 'value', 'description'],
  methods:{
    clicked () {
      console.log(this.value)
      this.$emit('clicked', this.value)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
