<template>
  <div>
    <b-row>
      <b-col cols="3">
        <b-list-group>
          <b-list-group-item v-for="store in stores">
            <b-row @click="showStore(store)">
              <b-col cols='8'>
                  {{store.number}}
                </b-col>
                <b-col cols='4'>
                  <b-badge variant="secondary" class="right">{{store.days_till_open}} days</b-badge>
              </b-col>
            </b-row>
          </b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col cols="9">
        <h5 class="text-center" v-if="store_to_show !== null">Store {{store_to_show.number}}</h5>
        <b-list-group v-if="store_to_show !== null">
          <b-list-group-item> {{store_to_show.open_date}}</b-list-group-item>
          <b-list-group-item v-if="tickets.length > 0" v-for="ticket in tickets">
            {{ticket.title}}
          </b-list-group-item>
          <b-list-group-item v-else>
            The are no tickets to display
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "NewStore",
  props: ['stores'],
  data: function() {
    return {
      store_to_show: null,
      tickets: [],
    }
  },
  methods: {
    showStore(store){
      this.store_to_show = store
      if (store.tickets !== undefined){
        this.tickets = store.tickets
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
