<template>
  <div>
    <b-card no-body>
      <b-tabs card >
        <!-- Deactivated Stores -->
        <b-tab  active>
          <template v-slot:title>
              <span v-b-tooltip.hover.rightbottom title="Report holding information about store that had reporting on this system deactivated.">
                Deactivated Stores
              </span>
          </template>
          <b-card-text>
            <b-table :items="fake_data_deactivated" :fields="deactivated_fields">
              <template v-slot:cell(reactivate)="data">
                <b-btn 
                  size="sm" 
                  variant="success" 
                  v-if="data.item.reactivate"
                  v-b-tooltip.hover title="Click to reactivate reporting for this location"
                >Reactivate</b-btn>
              </template>
            </b-table>
          </b-card-text>
        </b-tab>
        <!--<b-tab title="Overnight Comm Report">
          <template v-slot:title>
            <span v-b-tooltip.hover title="Report holding information about stores that were down overnight and their current status.">
              Overnight Comm. Report
          </span>
          </template>
          <b-card-text>
            <b-table :items="fake_data">
            </b-table>
          </b-card-text>
        </b-tab> -->
        <b-tab>
          <template v-slot:title>
            <span v-b-tooltip.hover.rightbottom title="Report holding information about issues that are currently at or over the SLA period.">
              SLA Report
          </span>
          </template>
          <b-card-text>
            <b-table :items="fake_data_sla" :fields="sla_fields">
              <template v-slot:cell(still_down)="data">
                <span v-if="data.item.still_down"><i class="fa fa-check-square-o"></i></span>
              </template>
            </b-table>
          </b-card-text>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span v-b-tooltip.hover.rightbottom title="Report holding information about outages.">
              Outage Report
          </span>
          </template>
          <b-card-text>
            <b-table :items="fake_data_outage" :fields="outage_fields">
              <template v-slot:cell(stores)="row">
                <b-checkbox v-model="row.detailShowing" @change="row.toggleDetails">
                  Show Stores
                </b-checkbox>
              </template>
              <template v-slot:row-details="row">
                <b-card>
                  <b-table :items="row.item.stores" :fields="outage_sub_fields"></b-table>
                </b-card>
              </template>
            </b-table>
          </b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Reports",
  data: function() {
    return {
      deactivated_fields: [
        {key: "store", sortable: true},
        {key: "last_online", sortable: true},
        {key: "total_days_offline", sortable: true},
        {key: "deactivate_on", sortable: true},
        {key: "reactivate", sortable: true}
      ],
      sla_fields: [
        {key: "store", sortable: true},
        {key: "issue", sortable: true},
        {key: "ticket", sortable: true},
        {key: "down_since", sortable: true},
        {key: "down_time", sortable: true},
        {key: "still_down", sortable: true},
      ],
      outage_fields: [
        {key: "approximate_start", label:"Approx. Start", sortable: true},
        {key: "number_of_stores", label:"# Of Stores", sortable: true},
        {key: "number_of_states", label:"# Of States", sortable: true},
        {key: "outage_type", label:"Outage Type", sortable: true},
        {key: "stores", label:"Stores"},
      ],
      outage_sub_fields: [
        {key: "store", sortable:true},
        {key: "ticket", sortable:true},
        {key: "down_at", sortable:true},
        {key: "restored_at", sortable:true},
      ],
      fake_data_deactivated: [
        {store: 1222, last_online: "2019-10-01 13:43", total_days_offline: 4, deactivate_on: '2019-10-05 16:32', reactivate: false},
        {store: 1329, last_online: "2019-10-01 13:43", total_days_offline: 4, deactivate_on: '2019-10-05 16:32', reactivate: false},
        {store: 422, last_online: "2019-10-01 13:43", total_days_offline: 4, deactivate_on: '2019-10-05 16:32', reactivate: false},
        {store: 3287, last_online: "2019-10-01 13:43", total_days_offline: 4, deactivate_on: '2019-10-05 16:32', reactivate: true},
        {store: 5763, last_online: "2019-10-01 13:43", total_days_offline: 4, deactivate_on: '2019-10-05 16:32', reactivate: false},
      ],
      fake_data_sla: [
        {store: 3421, issue: "Comm", ticket: 1222, down_since: "2019-10-01 16:40:23", down_time: "69 hours 16 mins 35 secs", still_down: true},
        {store: 312, issue: "Power", ticket: 6432, down_since: "2019-10-03 16:40:23", down_time: "69 hours 16 mins 35 secs", still_down: false},
        {store: 5367, issue: "Comm", ticket: 12121, down_since: "2019-10-01 16:40:23", down_time: "69 hours 16 mins 35 secs", still_down: true},
        {store: 6021, issue: "AS400", ticket: 42321, down_since: "2019-10-12 16:40:23", down_time: "69 hours 16 mins 35 secs", still_down: false},
      ],
      fake_data_outage: [
        {
          approximate_start: "2019-10-01 16:40:23", 
          number_of_stores: 16, 
          number_of_states: 5, 
          outage_type: "mini-outage",
          stores: [
            {store: 3322, ticket: 323111, down_at:"2019-10-01 16:40:23", restored_at:"2019-10-01 16:40:23"},
            {store: 122, ticket: 211211, down_at:"2019-10-01 16:40:23", restored_at:"2019-10-01 16:40:23"},
            {store: 3375, ticket: 3654111, down_at:"2019-10-01 16:40:23", restored_at:"2019-10-01 16:40:23"},
            {store: 5632, ticket: 2329111, down_at:"2019-10-01 16:40:23", restored_at:"2019-10-01 16:40:23"},
            {store: 672, ticket: 5342111, down_at:"2019-10-01 16:40:23", restored_at:"2019-10-01 16:40:23"},
          ]
        },
      ],
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
