<template>
  <div>
    <b-tabs>
      <b-tab title="Store Information">
        <b-card-group columns>
          <b-card 
              header="Store Relations" 
              no-body
              border-variant="primary"
              header-bg-variant="primary"
              header-text-variant="white">
            <b-list-group flush>
              <b-list-group-item href="#">
                <b-col>District</b-col>
                <b-col> 1</b-col>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-col>Region</b-col>
                <b-col> 1</b-col>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-col>Division</b-col>
                <b-col> 1</b-col>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-col>Hub</b-col>
                <b-col> 1</b-col>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-col>DC</b-col>
                <b-col> 1</b-col>
              </b-list-group-item>
            </b-list-group>
          </b-card>
          <b-card 
              header="Ping Utility"
              border-variant="primary"
              header-bg-variant="primary"
              header-text-variant="white">
            <b-row>
              <b-col>
                <b-btn size="sm" href="#">.1</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.3</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.4</b-btn>
              </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-btn size="sm" href="#">.5</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.10</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.14</b-btn>
              </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-btn size="sm" href="#">.129</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.250</b-btn>
              </b-col>
              <b-col>
                <b-btn size="sm" href="#">.254</b-btn>
              </b-col>
            </b-row>
            <b-row>
              <b-col center>
                <b-btn>Ping Again</b-btn>
              </b-col>
            </b-row>
            <b-row>
              <b-col center>
                <b-btn>Continous Ping</b-btn>
              </b-col>
              <b-col>
                0 of 30 pings
              </b-col>
            </b-row>
          </b-card>
          <b-card 
            header="Address"
            border-variant="primary"
            header-bg-variant="primary"
            header-text-variant="white">
            1701 North Blvd<br>Cedar Park, TX 91821
          </b-card>
          <b-card header="Store Hours"
            no-body
            border-variant="primary"
            header-bg-variant="primary"
            header-text-variant="white">
            <b-list-group flush>
              <b-list-group-item href="#">
              <Hours text="Week Days" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <Hours text="Saturday" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <Hours text="Sunday" start="07:30" end="21:30"></Hours>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-row>
                  <b-col cols='6'>
                      Time Zone
                    </b-col>
                    <b-col class="text-right" cols='6'>
                      CST
                  </b-col>
                </b-row>
              </b-list-group-item>
              <b-list-group-item href="#">
                <b-row>
                  <b-col cols='6'>
                      Current Local Time 
                    </b-col>
                    <b-col class="text-right" cols='6'>
                      <!-- 12:32:11 CST -->
                      {{time}}
                  </b-col>
                </b-row>        
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </b-card-group>
      </b-tab>
      <b-tab title="Comm History">
      </b-tab>
      <b-tab title="Ticket History">
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
require("moment-timezone")
import moment from 'moment-timezone'
import Hours from './Hours.vue';

export default {
  name: "StoreInfo",
  components: {Hours},
  props:['store'],
  data: function() {
    return {
      time: null
    }
  },
  methods: {
    toTimeZone(time, zone) {
      var format = 'HH:mm:ss';
      return moment(time, format).tz(zone).format(format);
    },
    current_time () {
      let location = this.store.store.full_timezone
      let now = moment().toISOString()
      this.time = this.toTimeZone(now, location)
    }
  },
  created() {
    this.current_time()
    setInterval(function(){
      this.current_time()
    }.bind(this), 1000)
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.map { height: 600px; }
.map {background: #ddd; }
</style>
