<template>
  <div id="app">
    <b-navbar toggleable="lg"  class="navbar-inverse">
      <b-navbar-brand href="#">Issues Map</b-navbar-brand>
      <b-navbar-nav class="right">
        <b-input size="sm" v-model="search_value" @keyup.enter="search_enter" class="mr-sm-2" placeholder="Search"></b-input>
      </b-navbar-nav>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="right">
          <b-nav-item-dropdown show text="Issue Map" right>
            <b-dropdown-item href="#">
              <NavBadge text="All Issues" @click="" :number="markers.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item href="#">
              <NavBadge text="AS400" :number="as400_down.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <NavBadge text="Comms Issues" :number="comm_down.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <NavBadge text="Linux Down" :number="linux_down.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <NavBadge text="Power Outage" :number="power_outages.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <NavBadge text="Unknown" :number="unknown.length"></NavBadge>
            </b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-group href="#">
              <NavMultiItem text="DC/Routers" value="dcs" @clicked="open_modal_4" description="Holds information about DCs and Routers"></NavMultiItem>
            </b-dropdown-group>
            <b-dropdown-group href="#">
              <NavMultiItem text="New Stores" value="new" @clicked="open_modal_4" description="Holds information about New Stores"></NavMultiItem>
            </b-dropdown-group>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-group href="#">
              <b-row class="ml-1">
                <b-col cols='2'>
                  <b-form-checkbox value="true"></b-form-checkbox>
                </b-col>
                <b-col cols='8'>
                  Re-center Maps
                </b-col>
              </b-row>
            </b-dropdown-group>
          </b-nav-item-dropdown>
          <b-nav-item href="#" v-b-modal.modal-1>Comm. Montior</b-nav-item>
          <b-nav-item href="#" v-b-modal.modal-3>Reports</b-nav-item>
          <b-nav-item href="#">The Supporter</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <MyMap @store_clicked="search"></MyMap>
    <b-modal class="xtra-large-modal" size="xl" id="modal-1" title="Communiations Monitor" ok-only>
      <b-row class="comm-mon-filter d-none">
        <b-col offset=5>
        <b-button variant="primary"><i class="fa fa-server"></i></b-button>
        <b-button variant="primary"><i class="fa fa-linux"></i></b-button>
        <b-button variant="primary"><i class="fa fa-question"></i></b-button>
        <b-button variant="primary"><i class="fa fa-exchange"></i></b-button>
        <b-button variant="primary"><i class="fa fa-floppy-o"></i></b-button>
        </b-col>
      </b-row>
      <b-table striped hover :items="markers" :fields="fields">
        <template v-slot:cell(store)="data">
          <b-link href="#" @click="search(data.item.store)">{{data.item.store.number}}</b-link>
        </template>      
        <template v-slot:cell(ticket)="data">
          <b-link v-if="data.item.ticket" :href="ticket_url(data.item.ticket)">{{data.item.ticket}}</b-link>
          <ClickToEdit v-else size="" value="Add" :store="data.item.store" @input="add_ticket"></ClickToEdit>
        </template>      
        <template v-slot:cell(dot1_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot1_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot3_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot3_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot5_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot5_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot10_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot10_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot129_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot129_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot240_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot240_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot250_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot250_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(dot254_status)="data">
          <b-btn size="sm" variant="success" v-if="data.item.store.dot254_status=='UP'"><i class="fas fa-chevron-up"></i></b-btn> 
          <b-btn size="sm" variant="danger" v-else><i class="fa fa-chevron-down"></i></b-btn> 
        </template>         
        <template v-slot:cell(state)="data">
          {{data.item.store.state}}
        </template>         
        <template v-slot:cell(state)="data">
          {{data.item.store.state}}
        </template>         
      </b-table>
    </b-modal>
    <b-modal class="xtra-large-modal" size="xl" id="modal-2" :title="search_modal_title" ok-only>
      <StoreInfo v-if='search_modal_title=="Store Information"' :store="search_object"></StoreInfo>
      <DCInfo v-if='search_modal_title=="DC Information"'></DCInfo>
    </b-modal>
    <b-modal class="xtra-large-modal" size="xl" id="modal-3" title="Reports" ok-only>
      <Reports></Reports>
    </b-modal>
    <b-modal class="xtra-large-modal" size="xl" id="modal-4" :title="modal4_title" ok-only>
      <NewStore v-if="modal4_title == 'New Stores'" :stores="new_stores"></NewStore>
    </b-modal>
  </div>
</template>

<script>
import MyMap from "./components/MyMap.vue";
import NavBadge from './components/NavBadge.vue';
import NavMultiItem from './components/NavMultiItem.vue';
import StoreInfo from './components/StoreInfo.vue';
import DCInfo from './components/DCInfo.vue';
import ClickToEdit from './components/ClickToEdit.vue';
import NewStore from './components/NewStore.vue';
import Reports from './components/Reports.vue';
import { mapGetters } from 'vuex'

export default {
  name: "app",
  components: {
    MyMap,
    NavBadge,
    NavMultiItem,
    StoreInfo,
    DCInfo,
    ClickToEdit,
    NewStore,
    Reports,
  },
  data () {
    return {
      fields: [
        {key:'store', sortable:true},
        {key:'state', sortable:true},
        {key:'vendor', sortable:true}, 
        {key:'issue', sortable:true}, 
        {key:'ticket', sortable:true},
        {key:'time_down', sortable:true, label:"Down Since"},
        {key: 'dot1_status', label: '.1'},
        {key: 'dot3_status', label: '.3'},
        {key: 'dot10_status', label: '.10'},
        {key: 'dot129_status', label: '.129'},
        {key: 'dot240_status', label: '.240'},
        {key: 'dot250_status', label: '.250'},
        {key: 'dot254_status', label: '.254'},
        ],
      search_value: '',
      search_object: null,
      search_modal_title: "Store Information",
      modal4_title:"",
    }
  },
  methods: {
    search(value) {
        console.log("Value:", value)
        console.log("Search Value:", this.search_value)
        this.search_object = value
        if (this.isInt(this.search_value)) {
          if (parseInt(this.search_value) < 100) {
            this.search_modal_title = "DC Information"
          }
          else {
            this.search_modal_title = "Store Information"
          }
          this.$bvModal.show('modal-2');
        }
    },
    search_enter(){
      this.search(this.search_value)
    },
    isInt(value) {
      if (isNaN(value)) {
        return false;
      }
      var x = parseFloat(value);
      return (x | 0) === x;
    },
    open_modal_4(value){
      console.log('end value', value)
      if (value === 'dcs'){
        this.modal4_title = 'DC/Routers'
      }
      else if (value === 'new'){
        this.modal4_title = 'New Stores'
      }
      this.$bvModal.show('modal-4');
    },
    tracking_url (value) {
      if (value !== undefined && value !== null ){
        return this.url + value
      }
      return null
    },
    ticket_url (value){
      if (value !== undefined && value !== null ){
        return "https://support-app.oreillyauto.com/MRcgi/MRlogin.pl?DL=" + value + "DA13"
      }
      return null
    },
    add_ticket (obj){
      console.log('this is the passed object', obj)
      this.$store.commit('UPDATE_TICKET', obj)
    }
  },
  computed: {
    ...mapGetters([
      "markers", "logged_in", "new_stores",
      "as400_down", "comm_down", "linux_down",
      "power_outages", "unknown",
    ])
  },
  created() {
    console.log("App loaded")
    this.$store.dispatch("get_new_stores")
    console.log('Dispatch should have run')
  }
};
</script>

<style>
html, body, #app {
  height: 100%;
  margin: 0;
}
#map {
  height: calc(100% - 57px);
}
nav.navbar.navbar-inverse.navbar-expand-lg {
  background-color: #222;
  border-color: #080808;
  color: white;
  }

.navbar-inverse .navbar-brand {
    color: white !important;
}
.navbar-inverse a.navbar-brand:hover {
    color: #42de38 !important;
}
.navbar-inverse a {
  color: white !important;
}
.navbar-inverse .dropdown-menu a{
  color: black !important;
}
.navbar-inverse a:hover {
  color: #42de38 !important;
}
.navbar-inverse button.navbar-toggler {
  background: white;
}
.navbar-nav span {
  color: white;
}
.navbar-nav span:hover {
  color: #42de38;
}
.dropdown-toggle::after{
  color :white !important;
}
.leaflet-popup-content {
  width: 356px !important; 
}
.leaflet-popup-content-wrapper{
  width: 400px !important; 
}
ul.dropdown-menu.dropdown-menu-right.show {
  width: 225px;
}
.modal-body {
    overflow: auto;
}
</style>